.secondary__footer {

    .desktop__social {
        display: none;

        @include breakpoint-up(large) {
            display: flex;

        }
    }

    .social__media {
        margin-top: 0;
        margin-left: -3%;
        padding-bottom: 1.25rem;

        @include breakpoint-up(large) {
            display: none;
        }
    }

    .menu-links {
        margin: 2.5rem auto 0.9375rem auto;
        padding-left: 0;

        @include breakpoint-up(large) {
            margin: 0;
        }  

        &:hover svg path {
            fill: yellow;
        }
    }

    a, a:visited {
        color: $yellow;
        padding: 0 0.3125rem;
        position: relative;
    }


    a::before {
        content: "";
        display: block;
        position: absolute;
        height: 0.125rem;
        width: 1.875rem;
        right: 0;
        left: 22%;
        bottom: -0.625rem;
        background: linear-gradient(#FBDA68, #E69191);
        opacity: 0;
        transition: all 200ms ease-in-out;
    }

    a:hover {
        color: $orange;

        &::before {
            opacity: 1;
        }
    }

    .rights {
        color: $yellow;
        font-size: 0.8rem;
        margin-top: 0;
    }
}